<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Widget Factory</title>
    <link rel="stylesheet" href="https://unpkg.com/picnic">
<style>
.container { max-width: 800px; margin: auto; padding: 1rem; }
@media (min-width: 600px) { .container { padding: 5rem; } }
.text-center { width: 100%; text-align: center; }
</style>
  </head>
  <body>
    <div class="container">
      <article class="card">
        <header>
          <h1>Widget Factory</h1>
        </header>
        <footer>
          <%= yield %>
        </footer>
      </article>
    </div>
  </body>
</html>
